.card_container{
    width: 350px;
    height: 350px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1px 8px #0003;
    padding: 15px;
    margin: 10px;
    background-color: #fff;
    transition: transform 0.3s ease;
    position: relative;
}

.card_container:hover{
    transform: scale(1.08);
}

.card_container.low {
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
    border: 2px solid rgba(255, 0, 0, 0.8); 
  }
  
  .card_container.medium {
    box-shadow: 0 0 5px rgba(255, 255, 0, 0.5);
    border: 2px solid rgba(255, 255, 0, 0.8); 
  }
  
  .card_container.high {
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5);
    border: 2px solid rgba(0, 128, 0, 0.8); 
  }

.issue_heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.issue_heading h2{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.card_container.low h2{
    color: red;
}

.card_container.medium h2{
    color: yellow;
}

.card_container.high h2{
    color: green;
}

.issue_content,
.specialitation_content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 5px;
}

.issue_content{
    height: 50px;
}

.specialitation_content{
    height: 100px;
}

.issue_content label,
.specialitation_content label{
    color: #000;
}

.issue_content p,
.specialitation_content p{
    font-weight: 600;
}

.accuracy_container{
    width: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accuracy_container.low{
    background-color: red;
}

.accuracy_container.medium{
    background-color: yellow;
}

.accuracy_container.high{
    background-color: green;
}

.accuracy{
    color: #fff;
}

.accept_button{
    border: 2px solid #0081cf;
    background-color: transparent !important;
    padding: 4px;
    border-radius: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 700;
    margin-top: 20px;
    width: 100px;


}

.accept_button svg{
    fill:#0081cf;
    stroke: 2px;
    
}

.accept_button:hover{
    border: none;
    background-color: #0081cf !important;
    color: white;
    transition: transform 0.3s ease;
}

.accept_button:hover svg{
    fill: #fff;
    transition: transform 0.3s ease;
}