.profile-container{
    width: 100%;
    height: 100%;
}

.profile_info_card {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .title{
    text-align: center;
    padding: 2rem 0;
  }

  .title.loader{
    color: #0081cf;
  }

  .profile_info_card h1{
    color: #888888;
    font-size: 14px !important;
  }

  .profile_info_card h1 span {
    font-size: 24px;
    margin-bottom: 10px;
    
  }

  .profile_info_card .label{
    font-weight: 700;
  }
  
  .diagnosis-card {
    max-width: 300px; 
    width: 100%;
  }

  .profile_info_card span {
    font-size: 16px;
    color: black;
  }
  
  .profile_info_card p {
    font-size: 14px;
    color: #888888;
  }

  .diagnosis-container {
    display: grid;
    gap: 10px;
    width: 100%;
    margin: auto;
    max-height: 800px;
    justify-items: center;
    align-items: start; 
  }

  .pagination {
  margin-top: 20px;
}

.pagination ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

.pagination li {
  margin-right: 5px;
}

.pagination li.active button{
  background-color: #0081cf;
}

.pagination button {
  display: inline-block;
  padding: 8px 12px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: #555555;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #e0e0e0;
}

.pagination .active button {
  background-color: #555555;
  color: #ffffff;
}



.delete_btn{
  color: white;
  background-color: red;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5px;
  
}

.delete_btn svg{
  stroke-width: 1px
}

@media (min-width: 768px) {
  .diagnosis-container {
    justify-content: center;
    display: flex;
  }
}

@media (min-width: 1024px) {
  .diagnosis-container {
    grid-template-columns: repeat(3, 1fr);
  }
}